body {
  margin: 0px;
  padding: 0px;
}

/*  подключаем шрифты */
 @font-face {
  font-family: P151;
  src: url(fonts/17789.ttf);
}
@font-face {
 font-family: ljk_Milk Mustache BB;
 src: url(fonts/17661.otf);
}
@font-face {
  font-family: Cleanwork;
  src: url(fonts/17916.ttf);
}
.header_container {
  background: #299;
}
.container-left {
  font-family: ljk_Milk Mustache BB;
  color: #fff;
  padding: 50px 60px;
}
/*  контейнер справа */
.container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.logo {
  width: 200px;
  height: 200px;
}
.photo {
  width: 90%;
  box-shadow: 2px 3px 20px #000;
}

a {
  font-family: ljk_Milk Mustache BB;
  color: black;
  z-index: 3;
}
a:hover {
  color: #fff;
}
span {
  color: #4fa9b3;
}
.color {
  color: #c73530;
}

.my_image, .my_text_aboute_me {
  font-family: ljk_Milk Mustache BB;
  font-size: 16px;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(24, 25, 245, 0.2);
  background-size: cover;
}

i {
  font-size: 26px;
  color: #499;
}

h2 {
  font-weight: bold;
}
/*  медиазапросы */
@media (max-width: 500px) {

}
/*  стили меню */
.menu {
  padding: 20px;
  background: #490;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.menu:before {
  content: "";
  position: absolute;
  height: 100%;
  background: #299;
  transition: all 0.7s ease;
  width: 0px;
}
.menu:hover::before {
  width: 100%;
  box-shadow: 0px 0px 10px #333,
              inset 0px 0px 1px #333;
}
/*  поле образование */
.fon_education {
  padding: 20px;
  text-align: center;
  font-size: 17px;
  background: rgba(24, 25, 245, 0.2);
}
.fon_education {
  background: rgba(209, 178, 100, 0.9);
}
/* поле достижения  */
.fon_progress {
  text-align: center;
  background: rgba(207, 157, 83, 1);
}
/*  поле хобби */
.fon_hobby {
  background: #3a9183;
}
.text {
  padding: 10px;
  text-align: center;
  font-family: ljk_Milk Mustache BB;
}

/* анимация  */
.animation_education {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(209, 178, 100, 0.9);
  outline: none;
  padding: 10px;
}
.animation {
  display: flex;
  justify-content: left;
  align-items: top;
  width: 200px;
  height: 200px;
}
li {
  position: absolute;
  list-style-type: none;
}
.elem_one, .elem_two {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #456;
  display: flex;
  z-index: 9;
  box-shadow: 0px 1px 10px #333;
  justify-content: center;
  align-items: center;
  animation: move_elem_one 8s infinite linear;
}

.elem_one > li:nth-child(1), .elem_two > li:nth-child(1) {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 10;
  background: rgba(209, 178, 100, 0.9);

}
.elem_one > li {
   width: 15px;
   height: 120px;
   background: #456;


}
.elem_one > li:nth-child(3) {
  transform: rotate(45deg);
}
.elem_one > li:nth-child(4) {
  transform: rotate(90deg);
}
.elem_one > li:nth-child(5) {
  transform: rotate(135deg);
}
@keyframes move_elem_one {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.elem_two {
  top: 50px;
  position: relative;
}
.elem_two > li {
  width: 15px;
  height: 120px;
  background: #456;
}
.elem_two {
  animation: move_elem_two 8s infinite linear;
}
.elem_two > li:nth-child(3) {
  transform: rotate(45deg);
}
.elem_two > li:nth-child(4) {
  transform: rotate(90deg);
}
.elem_two > li:nth-child(5) {
  transform: rotate(135deg);
}
@keyframes move_elem_two {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

.animation_progress {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(207, 157, 83, 1);
  outline: none;
  padding: 30px;
}
/*  рисуем кубок */
.win {
  width: 200px;
  height: 200px;
}
.win > li {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2px;
  width: 50px;
  height: 40px;
  background: #e8a746;
  position: relative;

}
.win > li:nth-child(1) {
  width: 160px;
  height: 45px;
  border-radius: 0px 0px 50px 50px;
  background: #e8cd46;
  box-shadow: 6px 1px 10px #333,
               inset 0px 0px 3px #333;
}
.win > li:nth-child(2) {
  top: 50px;
  width: 60px;
  height: 100px;
  box-shadow: 3px 1px 10px #333,
              inset 0px 0px 3px #333;
  border-radius: 0px 0px 50px 50px;

}
 .win > li:nth-child(3) {
  top: 8px;
  width: 75px;
  height: 14px;
  box-shadow: 3px 1px 10px #333,
              inset 0px 0px 3px #333;
}
.win > li:nth-child(4) {
 top: 8px;
 width: 90px;
 height: 10px;
 box-shadow: 3px 1px 10px #333,
             inset 0px 0px 3px #333;
}
.win > li:nth-child(5) {
 top: 8px;
 width: 140px;
 height: 10px;
 box-shadow: 3px 1px 10px #333,
             inset 0px 0px 3px #333;
}

/*  поле хобби */

.animation_hobby {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3a9183;
  outline: none;
  padding: 30px;
}
.block_hobby {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  transform-origin: 0px 30px;
  animation: move_photo 9s infinite linear;
}
.block_hobby > li {
  position: absolute;
}
/* рисуем фотоаппарат */
.block_hobby > li:nth-child(1) {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background: #d1c792;
  box-shadow: 4px 4px 10px #333;
}
.block_hobby > li:nth-child(2) {
  top: 76px;
  width: 150px;
  height: 4px;
  background: #459;
}
.block_hobby > li:nth-child(3) {
  width: 150px;
  height: 40px;
  background: #354;
}
.block_hobby > li:nth-child(4) {
  top: 118px;
  width: 150px;
  height: 4px;
  background: #459;
}
.block_hobby > li:nth-child(5) {
  width: 40px;
  height: 40px;
  z-index: 10;
  border-radius: 50%;
  background: #333;
}
.block_hobby > li:nth-child(6) {
  width: 55px;
  height: 55px;
  z-index: 9;
  border-radius: 50%;
  background: #a39a6f;
}
.block_hobby > li:nth-child(7) {
  width: 75px;
  height: 75px;
  z-index: 8;
  border-radius: 50%;
  background: #6fa379;
}
.block_hobby > li:nth-child(8) {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #b38447;
}
.block_hobby > li:nth-child(9) {
  top: -60px;
  left: -30px;
  width: 10px;
  height: 10px;
  z-index: 20;
  position: relative;
  border-radius: 50%;
  background: #de6d35;
}
.block_hobby > li:nth-child(10) {
  top: -60px;
  left: 40px;
  width: 40px;
  height: 20px;
  z-index: 20;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  background: #594b2d;
}
@keyframes move_photo {
  0% { transform: rotate(0deg) }
  10% { transform: rotate(10deg);}
  20% { transform: rotate(10deg);}
  30% { transform: rotate(10deg);}
  40% { transform: rotate(10deg);}
  50% { transform: rotate(10deg);}
  60% { transform: rotate(10deg);}
  70% { transform: rotate(10deg);}
  80% { transform: rotate(5deg);}
  90% { transform: rotate(0deg);}
  100% { transform: rotate(0deg) }

}
.fon_portfolio {
    background: rgba(24, 25, 245, 0.2);
}

.content_img {
  width: 391px auto;
  height: 341px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.content_img a img {
  box-shadow: 15px 15px 15px #333;
  transition: 1s;
}
.content_img a img:hover {
  width: 370px;
  height: 320px;
  box-shadow: 5px 5px 35px #333;
}
.image_size {
  width: 350px;
  height: 300px;
}
/* подвал */
.footer {
  padding: 20px;
  background: #1f2026;
}
.text_footer {
  color: white;
}
.down_footer {
  padding: 20px;
  background: #000108;
}
.icons_social {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3px;
}
.icons_social li {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  margin-left: 10px;
  transition: 0.5s;
  border: 2px solid #4fa9b3;
}
.icons_social li:hover {
  box-shadow: 0px 0px 10px #4fa9b3,
              inset 0px 0px 10px #4fa9b3;
}
.block_game {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}
.block_game .block_windows {
  width: 600px;
  height: 100%;
  padding: 10px;
  position: relative;
  border: none;
}
.block_game div li {
  top: 0px;
  left: 0px;
  width: 90px;
  height: 110px;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
  border: none;
  box-shadow: 10px 10px 10px #4c4c4d;
  background-color: #283947;
  transition: 0.3s;

}
.block_game div li:before {
  content: "";
  width: 0px;
  height: 0px;
  background: none;
  box-shadow: 0px 0px 30px white;
  position: absolute;
}

.block_game div li:hover::before {
   animation: line 0.2s ease-in;
}
@keyframes line {
  0% { left: 0px;
       width: 1px;
       height: 110px;}

  100% { left: 80px;
         width: 1px;
         height: 110px;}
}
.block_game div li:hover {
  box-shadow: inset 0px 0px 10px #f5f6f7;
}
.block_windows p {
  font-family: ljk_Milk Mustache BB;
  padding: 20px;
  text-align: center;
}

/* .block_game div li:active {
  transform: rotate3d(2, 90, 2, 180deg);
}
/* @keyframes move {
  0% { transform: rotate3d(2, 90, 2, 0deg); }
  50% { transform: rotate3d(2, 90, 2, 180deg); }
  100% { transform: rotate3d(2, 90, 2, 0deg); }
} */
.block_game div li img {
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  z-index: -1;
  visibility: hidden;
}
.result img {
  width: 100px;
  height: 100px;
  padding: 10px;
  float: left;
  margin-top: 15px;
  margin-left: 5px;
  background: green;
  box-shadow: 10px 10px 10px #4c4c4d;
  animation: img 0.7s ease-in;
}
@keyframes img {
  0% { width: 100px;
       height: 100px;
       transform: rotate3d(0, 0, 0, 0deg);
     }

  50% { width: 120px;
        height: 120px;
        transform: rotate3d(2, 180, 0, 180deg);
      }

  100% { width: 100px;
         height: 100px;
         transform: rotate3d(0, 0, 0, 0deg);
       }
}

.center_text {
  text-align: center;
  font-family: ljk_Milk Mustache BB;
}
.content_center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.winner {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background: #262929;
  position: absolute;
  animation: showPopapWinner 0.5s ease-in;
}
@keyframes showPopapWinner {
  0% { opacity: 0; }
  100% { opacity: 9; }
}

.winner p {
  font-size: 25px;
  font-family: Cleanwork;
  text-shadow: 0px 0px 0px #6ca8a1;
  animation: signal 3s infinite;
}
@keyframes signal {
  0% { text-shadow: 1px 0px 0px #6ca8a1; }
  50% { text-shadow: 0px 0px 10px #6ca8a1; }
  100% { text-shadow: 0px 0px 0px #6ca8a1; }
}

.button {
  float: right;
  width: 200px;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 50px;
  border: 4px solid #345875;
  transition: 1s;
  background: #fff linear-gradient(rgb(58,160,253), rgb(4,88,192) 60%, rgb(49,112,201));
 box-shadow: 0 10px 18px rgba(0,0,0,.5);
  text-shadow: 1px 1px 2px black;
}
.button:hover {
  width: 250px;
}
.button:active {
  outline: none;
}
